<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>勤怠管理ユーザーマイページ</title>
<link rel="stylesheet" th:href="@{/css/MyPage.css}">
</head>
<body>
	<h1 th:text="${Title}"></h1>
	<h2>[[${Name}]] さん(ID:[[${ID}]])、ようこそ！</h2>
	
	<div style="text-align: center">
		<button th:onclick="|location.href='http://localhost:8080/Kintai/InOut?UserId=__${ID}__'|">１．勤怠管理ページへ</button>
	</div>
	
	<div style="text-align: center">
		<span th:if="${AdminFlag}"><button th:onclick="|location.href='http://localhost:8080/Kintai/Admin?UserId=__${ID}__'|">２．管理者用ページへ</button>
	</div>
	
	<div style="text-align: center">
		<button onclick="location.href='http://localhost:8080/Kintai/Login'">ログアウト</button>
	</div>
		
	
</body>
</html>