<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>勤怠管理ユーザーマイページ</title>
<link rel="stylesheet" href="/css/MyPage.css" type="text/css">
</head>
<body>
	<h1 th:text="${Title}"></h1>
	<h2>[[${Name}]] さん(ID:[[${ID}]])、ようこそ！</h2>
	
	<div class="btn1">
		<button onclick="location.href='http://localhost:8080/Kintai/InOut'">１．勤怠管理ページへ</button>
	</div>
	
	<div class="btn1">
		<span th:if="${AdminFlag}"><button onclick="location.href='http://localhost:8080/Kintai/Admin'">２．管理者用ページへ</button></span>
	</div>
	
	<div class="btn1">
		<button onclick="location.href='http://localhost:8080/Kintai/Login'">ログアウト</button>
	</div>
		
	
</body>
</html>